body {
  text-align: center;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: auto;
}

.flex-container {
  display: flex;
  width: 50%;
  margin: auto;
  padding: 5px;
  justify-content: center;
}

.example-image-text {
  font-size: 1.2em;
  width: 50%;
  word-wrap: break-word;
  margin-right: 10px;
}

.ulin-button {
  margin: 0 0 10px;
  font-family: notoserif;
  background-color: cyan;
  font-size: 20px;
  border-color: grey;
}

.ulin {
  background-color: rgb(0, 140, 255);
  padding-top: 15px;
  padding-bottom: 15px;
}

.normal {
  padding-top: 15px;
  padding-bottom: 15px;
}

canvas {
  background-color: white;
}
